@media only screen and (max-width: 675px) {
  .border {
    border: 1px solid black;
  }

  .display-none {
    display: none;
  }

  body {
    background-color: rgba(128, 128, 128, 0.9);
  }

  .App {
    padding: 20px;
    min-height: 100vmax;
    background-image: url("/public/BeardManOpacity.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 40%;
    background-size: 80%;
    overflow: scroll;
    color: white;
  }

  .title {
    border-left: 4px solid #fc8f00;
    padding-left: 5px;
  }
  .title .who-I-am {
    color: white;
    font-size: 2.5rem;
    font-weight: 300;
  }
  .title .what-I-do {
    color: #fc8f00;
    font-size: 2rem;
  }

  .links {
    text-align: center;
    color: #fc8f00;
    font-size: 1.5rem;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    transition: 1s;
  }

  .resume {
    margin-top: -50px;
  }

  .resume-heading {
    margin-top: 10px;
    color: #fc8f00;
    font-weight: 700;
    font-size: 1.125rem;
  }

  .bullet {
    margin-left: 10px;
    font-size: 0.8rem;
  }
  .bullet span {
    font-weight: 400;
  }

  .description {
    font-size: 0.75rem;
    margin: 0 0px 5px 25px;
  }

  li {
    margin-left: -25px;
  }

  .contact a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .contact i {
    color: #fc8f00;
    margin: 10px;
    font-size: 2rem;
  }

  .projects {
    margin-top: -30px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: auto;
  }

  .card-nav {
    display: flex;
  }

  .card-button {
    width: 50%;
    background-color: #fc8f00;
    margin: 1px;
    margin-bottom: 20px;
    text-align: center;
  }
  .card-button a {
    text-decoration: none;
    color: white;
  }
}
@media only screen and (min-width: 675px) {
  body {
    background-color: rgba(128, 128, 128, 0.9);
  }

  .App {
    height: 99vh;
    background-image: url("../BeardMan.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 20%;
    background-size: 20%;
    overflow: hidden;
    scrollbar-width: 0;
    color: white;
    border: 1px solid green;
  }

  .title-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
    display: flex;
    height: 175px;
    transition: 1s;
    justify-content: space-between;
  }

  .filler {
    width: 30%;
    flex-grow: 1;
    transition: 1s;
  }

  .title {
    padding: 10px;
    border-left: 0px solid #fc8f00;
    white-space: nowrap;
    width: 450px;
    text-align: center;
    transition: 1s;
  }

  .who-I-am {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    width: 100%;
    transition: 1s;
  }

  .what-I-do {
    color: #fc8f00;
    font-size: 3rem;
    font-weight: 300;
    width: 100%;
    transition: 1s;
  }

  .links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    white-space: nowrap;
    color: #fc8f00;
    flex-grow: 1;
    width: 30%;
    opacity: 0;
    transition: 1s;
  }
  .links div {
    font-size: 2rem;
  }

  .contact {
    font-size: 3rem;
    border: 1px solid black;
    margin-top: 10%;
  }
  .contact a {
    text-decoration: none;
    color: white;
  }
  .contact i {
    color: #fc8f00;
    margin: 20px;
  }

  .triggered .title {
    border-left: 4px solid #fc8f00;
  }
  .triggered .title div {
    width: 0;
  }
  .triggered .filler {
    width: 50px;
    flex-grow: 0;
  }
  .triggered .links {
    opacity: 1;
  }
}

/*# sourceMappingURL=App.css.map */
