$primary-color:rgb(252, 143, 0);
$background-color:rgba(128,128,128,.9);


@media only screen and (max-width:675px){
  .border{
    border:1px solid black;
  }
  .display-none{
    display:none;
  }
  body{
    background-color:$background-color;
  }
  .App{
    padding:20px;
    min-height:100vmax;
    background-image: url('../BeardManOpacity.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 40%;
    background-size: 80%;
    overflow: scroll;
    color:white;
  }
  .title{
    border-left:4px solid $primary-color;
    padding-left:5px;
    .who-I-am{
      color:white;
      font-size:2.5rem;
      font-weight:300;
    }
    .what-I-do{
      color:$primary-color;
      font-size:2rem;
    }
  }
  .links{
    text-align:center;
    color:$primary-color;
    font-size:1.5rem;
    height:10vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5%;
    transition:1s;
  }
  .resume{
    margin-top:-50px;
  }
  .resume-heading{
    margin-top:10px;
    color:$primary-color;
    font-weight:700;
    font-size:1.125rem;
  }
  .bullet{
    margin-left:10px;
    font-size:.8rem;
    span{
      font-weight:400;
    }
  }
  .description{
    font-size:.75rem;
    margin:0 0px 5px 25px;
  }
  li{
    margin-left:-25px;
  }

  .contact{
    a{
      text-decoration:none;
      color:white;
      font-size:1.5rem;
      font-weight:300;
    }
    i{
      color:$primary-color;
      margin:10px;
      font-size:2rem;
    }
  }
  .projects{
    margin-top:-30px;
  }
  .card-container{
    display:flex;
    flex-direction: column;    
  }
  .card{
    margin:auto;
  }
  .card-nav{
    display:flex;
  }
  .card-button{
    width:50%;
    background-color:$primary-color;
    margin:1px;
    margin-bottom:20px;
    text-align:center;
    a{
      text-decoration:none;
      color:white;
    }
  }
}

@media only screen and (min-width:675px){
  body{
    background-color:$background-color;
  }
  .App{
    height:99vh;
    background-image: url('../BeardMan.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 20%;
    background-size: 20%;
    overflow:hidden;
    scrollbar-width: 0;
    color:white;
    border:1px solid green;
  }
  .dim-bg{
    background-image:url('../BeardManOpacity.png')
  }
  .title-container{
    width:100%;
    position:fixed;
    bottom:0;
    margin-bottom:50px;
    display:flex;
    height:175px;
    transition:1s;
    justify-content:space-between;
  }
  .filler{
    width:30%;
    flex-grow:1;
    transition:1s;
  }
  .title{
    padding:10px;
    border-left:0px solid $primary-color;
    white-space: nowrap;
    width:450px;
    text-align:center;
    transition:1s;
  }
  .who-I-am{
    color:white;
    font-size:4rem;
    font-weight:300;
    width:100%;
    transition:1s;
  }
  .what-I-do{
    color:$primary-color;
    font-size:3rem;
    font-weight:300;
    width:100%;
    transition:1s;
  }
  .links{
    display:flex;
    justify-content: space-around; 
    flex-wrap: wrap;   
    height:100%;
    align-items: center;
    white-space: nowrap;
    color:$primary-color;
    flex-grow:1;
    width:30%;
    opacity:0;
    transition:1s;
    div{
      font-size:2rem;
    }
  }

  .contact{
    font-size:3rem;
    margin-top:10%;
    font-weight:300;
    a{
      text-decoration:none;
      color:white;
    }
    i{
      color:$primary-color;
      margin:20px;
    }
  }
  .resume-title{
    text-align:center;
    font-weight:300;
    margin:20px;
    font-size:2rem;
  }
  .resume-container{
    text-align: left;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    font-size:1rem;
    margin: 0 100px;    
    max-height:650px;
    overflow: auto;
  }
  .panel{
    max-width:670px;
    min-width:500px;
    flex-grow:1;
    padding: 0 10px;
  }
  .resume-heading{
    color:$primary-color;
    font-size:1.25rem;
  }
  .bullet{
    margin: 0 50px 0 20px;
    font-size:1rem;
    span{
      font-weight:400;
    }
  }
  .description{
    font-size:.95rem;
    margin:0 0px 5px 40px;
  }
  li{
    margin-left:-25px;
  }
  
  .projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    font-size:2rem;
    font-weight:300;
    margin:20px;
  }
  .card-container{
    display:flex;
    margin:auto;
    max-width:1000px;
    max-height: 650px;
    overflow:auto;
    justify-content:space-around;
    flex-wrap:wrap;
  }
  .card{
    margin:10px;
    img{
      border-radius:5px;
      border:3px solid rgb(100, 100, 100);
      filter:contrast(.75)
    }
  }
  .card-nav{
    display:flex;
  }
  .card-button{
    width:50%;
    background-color:$primary-color;
    margin:1px;
    margin-top:-5px;
    margin-bottom:20px;
    text-align:center;
    border-radius:5px;
    border:3px solid rgb(100, 100, 100);
    a{
      text-decoration:none;
      color:white;
    }
  }
  .card:hover a>img{
    filter:contrast(1)
  }


  .triggered{
    .title{
      border-left:4px solid $primary-color;
      div{
        width:0;
      }
    }
    .filler{
      width:50px;
      flex-grow:0;
    }
    .links{
      opacity:1;
    }
  }
}

